
{% extends 'main.html' %}
{% load static %}
{% block title %}로그인{% endblock %}
 
{% block additional_head %}
<link rel="stylesheet" href="{% static 'css/account.css' %}?after">
{% endblock %}

{% block content %}
<div class="centered-form-container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="logo">Login</h1>
        <div class="login-form-group">
            <label for="{{ form.username.id_for_label }}">name:</label>
            <input id="{{ form.username.id_for_label }}" type="text" name="{{ form.username.name }}" class="login-info-space">
        </div>
        <div class="login-form-group">
            <label for="{{ form.password.id_for_label }}">pw:</label>
            <input id="{{ form.password.id_for_label }}" type="password" name="{{ form.password.name }}" class="login-info-space">
        </div>
        <input type="submit" value="login" class="login-button">
    </form>
</div>
<p id="select_certification">회원이 아니신가요? <a href="{% url 'accounts:signup' %}">회원가입</a></p>
{% endblock %}

