/* 메인페이지 css */
body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 60px; /* 푸터 높이에 맞추어... */
    position: relative;
}

.preprint-logo{
    width: 130px;
}

.logo-image{
    width: 130px;
}

.mypage-image{
    width: 50px;
}

.cloud-image{
    width: 50px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left, .navbar-center, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-center a {
    margin: 0 10px;
}

.content {
    text-align: center;
    padding-bottom: 60px; /* 푸터 높이보다 약간 더 크게.. */
}

.logo {
    color: #76abfc;
    margin-top: 50px;
    font-size: 80px;
}

.print-start-button {
    background-color: #76abfc;
    padding: 20px 250px 20px 250px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: white;
}

.authentication {
margin-top: 10px;
}

.logout-link {
display: block;
font-size: 12px;
margin-top: 5px;
}

.footer {
background-color: #dfdfdf;
padding: 10px;
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
left: 0;
box-sizing: border-box;
}

.print-main{
    position: relative;
    top: 150px;
}

.search-form-group {
    margin-bottom: 20px;
}
.search-space{
    background-color: #EDEDED;
    padding: 10px 20px 10px 20px;
    border-radius: 40px 20px 20px 40px;
    border: none;
    cursor: pointer;
    font-size: 40px;
    width: 500px;
    height: 50px;
}

.search-submit-button {
    background-color: #76abfc;
    padding: 5px 20px 5px 20px;
    border-radius: 20px 40px 40px 20px;
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 70px;
}
/* 프린트디테일 페이지 */
.detail-form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
 
.detail-form-group h2 {
    margin-right: 20px; 
}

.centered-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - (200px));
}

.color-space{
    background-color: #EDEDED;
    padding: 17px 40px 17px 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.pw-space{
    background-color: #EDEDED;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 40px;
}

.pw-submit-button {
    background-color: #76abfc;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: white;
}

.messages{
    position: relative;
    bottom: 90px;
}

/* 결제 페이지 */
.payment-files{
    background-color: #EDEDED;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.payment-file-container {
    background-color: #EDEDED; 
    padding: 10px;       
    margin-top: 20px;     
    border-radius: 5px;   
    border-radius: 30px;
    max-width: 900px; 
    margin-left: auto; 
    margin-right: auto; 
}


