
{% extends 'main.html' %}
{% load static %}
{% block title %}클라우드{% endblock %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'css/preprint.css' %}?after">
{% endblock %}

{% block content %}
<div class="payment-detail-container"> 
    <h1 class="logo">Cloud Flies</h1>
    <div class="payment-detail-page">
    <h3>등록된 파일 : {{uploads_count}} / 5</h3>
    <p>최대 5번의 업로드만 가능합니다. 이미 출력한 업로드 파일의 경우 원활한 운영을 위해 등록 취소해주세요.</p>
    {% for upload_with_files in uploads_with_files %}
    <div class="order-div">
        <h3>등록 정보</h3>
        <p>등록 날짜: {{ upload_with_files.upload.upload_date }}</p>
        <div>
            <p>업로드 PW: {{ upload_with_files.upload.upload_pw }}</p>
        </div>
        <h4>파일:</h4>
        <ul class="order-files">
            {% for file in upload_with_files.upload_files %}
                <li><a href="{{ file.upload_file.url }}">{{ file.upload_file.name }}</a></li>
            {% endfor %}
        </ul>
        <form action="{% url 'delete_upload' upload_with_files.upload.id %}" method="post" class="delete-form">
            {% csrf_token %}
            <button type="submit" class="delete-button">등록 취소</button>
        </form>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}