{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | pre-print</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?after">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    {% block additional_head %}
    {% endblock %}
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <a href="{% url 'main' %}">
                <img class="logo-image" src="{% static 'img/logo.png' %}" alt="로고">
            </a>
        </div>
        <div class="navbar-center">
            <a href="#">프린트소개</a>
            <a href="#">이용약관</a>
            <a href="#">Q&A</a>
        </div>
        <div class="navbar-right">
            <a href="{% url 'preprint:mypage' %}">
                <img class="mypage-image" src="{% static 'img/mypage.png' %}" alt="로고">
            </a>
            <a href="{% url 'preprint:cloud_history' %}">
                <img class="cloud-image" src="{% static 'img/payment.png' %}" alt="로고">
            </a>
        </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">
        <p>전화번호: 123-456-7890</p>
        <p>preprint 사업</p>
    </div>
</body>
</html>
