{% extends 'main.html' %}
{% load static %}
{% block title %}프린트 설정{% endblock %}

{% block content %}

<div class="centered-form-container">
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="logo">print-detail</h1>
    <div class="detail-form-group">
      <h2>파일:</h2>
      <input class="file-submit-button" type="file" name="files" multiple>
    </div>
    
    <div class="detail-form-group">
      <h2>색상:</h2>
      <select class="color-space" name="color">
        <option value="BW">흑백</option>
        <option value="C">컬러</option>
      </select>
    </div>

    <div class="detail-form-group">
      <h2>비밀번호:</h2> 
      <input class="pw-space" type="text" name="pw">
    </div>
    <button class="pw-submit-button" type="submit">print!</button>
  </form>
</div>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

