{% extends 'main.html' %}
{% load static %}
{% block title %}메인페이지{% endblock %}

{% block content %}
<div class="print-main">
  <h1 class="logo">pre-print</h1>
  <form action="/detail/">
    <div class="search-form-group">
      <input class="search-space" type="text" name="cloud_code" placeholder="코드를 입력해주세요.">
      <button class="search-submit-button" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </form>

  <form action="/upload/">
    <button type="submit" class="print-start-button">upload !</button>
  </form>

  <div class="authentication">
    {% if request.user.is_authenticated %}
    <span>로그인 상태: {{request.user.username}}</span>
    <a href="{% url 'accounts:logout' %}" class="logout-link">로그아웃</a>
    {% else %}
    <span>비로그인 상태</span>
    <a href="{% url 'accounts:login' %}">로그인</a>
    <a href="{% url 'accounts:signup' %}">회원가입</a>
    {% endif %}
  </div>
</div>

{% endblock %}
