{% extends 'main.html' %}
{% load static %}
{% block title %}파일 업로드{% endblock %}

{% block content %}

<div class="centered-form-container">
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="logo">file upload</h1>
    <div class="detail-form-group">
      <h2>파일:</h2>
      <input class="file-submit-button" type="file" name="files" multiple>
    </div>

    <div class="detail-form-group">
      <h2>비밀번호:</h2> 
      <input class="pw-space" type="text" name="pw">
    </div>
    <p>업로드 비밀번호는 8자이상 문자, 숫자의 조합으로 작성해주세요.</p>
    <button class="pw-submit-button" type="submit">upload!</button>
  </form>
</div>

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}

